.btn{
    @include border-radius(5px);
    cursor:pointer;
    &.btn-logout{
        background:none;
        border:none;
        color:$blue;
        padding:11px 21px;
        font-size:14px;
        font-weight:bold;
        text-transform: uppercase;
        
        @media only screen and (min-width: $breakpoint-medium) {
            border:1px solid $blue;  
        }
    }
    &.btn-follower{
        border:none;
        background:none;
        float:left;
        @media only screen and (min-width: $breakpoint-medium) {
            float:right;
            position: absolute;
            bottom: 12px;
            right:0;
            z-index: 10;
            margin-right: 10px;
        }
        .icon{
            color:$light-gray;
            font-size:32px;
        }
        span{
            color:$light-gray;
            position:relative;
            top:-5px;
            margin:0 0 0 10px;
            font-size:14px;
            &.count{
                color:$dark-gray;
            }
        }
    }
    &.btn-edit{
        margin-top:20px;
        background:$blue;
        color:$white;
        padding:10px 35px;
        font-size:12px;
        font-weight:bold;
        text-transform: uppercase;
        
        @media only screen and (min-width: $breakpoint-medium) {
            border:1px solid $blue;  
        }
    }
}

.btn-upload-wrapper {
    position: relative;
    overflow: hidden;
    display:none;
    width:100%;
    .icon{
        font-size:32px;
        color:$light-blue;
    }
    span{
        position: relative;
        left: 10px;
        top: -5px;
    }
    @media only screen and (min-width: $breakpoint-medium) {
        display:inline-block;
    }
}

.btn-upload {
    @include border-radius(5px);
    border: 1px solid $light-blue;
    color: $light-gray;
    background-color: $white;
    display: block;
    margin:0 auto;
    padding: 10px 30px 13px 19px;
    font-size: 18px;
    text-transform: capitalize;
}

.btn-upload-wrapper {
    input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor:pointer;
    }
}