$body-bg: #f5f8f9;
$dark-gray: #3f454a;
$light-gray: #98a0a8;
$medium-gray: #727e88;
$blue: #007ee5;
$light-blue: #d0dce7;
$white: #FFFFFF;
$light-white: #f5f8f8;
$medium-light: #ecf1f5;


.body-bg{
    background-color:$body-bg;
}
.clr-gray{
    color:$dark-gray;
}
.clr-blue{
    color:$blue;
}