.edit-desktop{
	display:none;
	@media only screen and (min-width: $breakpoint-medium) {
		display:block;
	}
}
.edit-mobile{
	display:block;
	@media only screen and (min-width: $breakpoint-medium) {
		display:none;
	}
}
/* Material Form Styles */

/* form starting stylings ------------------------------- */
.group{ 
	position:relative; 
	margin-bottom:45px; 
  }
  input 				{
	font-size:10px;
	padding:10px 10px 10px 5px;
	border:none;
	border-bottom:1px solid #757575;
	background:none;
  }
  input:focus 		{ outline:none; }
  
  /* LABEL ======================================= */
  label 				 {
	color:#999; 
	font-size:12px;
	font-weight:normal;
	position:absolute;
	pointer-events:none;
	left:5px;
	top:10px;
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label 		{
	top:-20px;
	font-size:12px;
	color:$blue;
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; max-width:260px; }
  .bar:before, .bar:after 	{
	content:'';
	height:2px; 
	width:0;
	bottom:1px; 
	position:absolute;
	background: $blue; 
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
  }
  .bar:before {
	left:50%;
  }
  .bar:after {
	right:50%; 
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
	width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
	position:absolute;
	height:60%; 
	width:100px; 
	top:25%; 
	left:0;
	pointer-events:none;
	opacity:0.5;
  }
  
  /* active state */
  input:focus ~ .highlight {
	-webkit-animation:inputHighlighter 0.3s ease;
	-moz-animation:inputHighlighter 0.3s ease;
	animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
	  from { background:$blue; }
	to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
	  from { background:$blue; }
	to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
	  from { background:$blue; }
	to 	{ width:0; background:transparent; }
  }