@import '../styles/grid.scss';
@import '../styles/helpers.scss';
@import '../styles/colors.scss';
@import '../styles/buttons.scss';
@import '../styles/userInfo.scss';
@import '../styles/rating.scss';
@import '../styles/menu.scss';
@import '../styles/page.scss';
@import '../styles/forms.scss';
@import '../styles/tooltip.scss';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  background-color:#f5f8f9;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
    @media only screen and (min-width: $breakpoint-medium) {
        background-color:$body-bg;
    }
}

/* HEADER */
.header{
    margin-top:0;
    padding-top:22px;
    position:relative;
    @media only screen and (min-width: $breakpoint-medium) {
        margin-top:70px;
        background-color:$white;
    }
}