.menu-wrapper{
    @include box-shadow(1px, 1px, 5px, $light-gray);
    background:$white;
    display: none;
    position: absolute;
    width: 100%;
    bottom: 0;
    @media only screen and (min-width: $breakpoint-large) {
        display:block;
    }
}
.menu{
    ol, ul {
        list-style: none;
        padding:0;
        margin:15px 0 0 0;
    }
    li {
        display: inline-block;
        vertical-align: middle;
        &:first-child{
            margin-left:200px;
            @media only screen and (min-width: $breakpoint-xlarge) {
                margin-left:260px;
            }
        }
    }
    a:hover, a:focus, a:active {
        color: $medium-gray;
        text-decoration: none;
    }
    a {
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        text-decoration: none;
        transition: color 0.1s, background-color 0.1s;
    }
    a {
        position: relative;
        display: block;
        padding: 0 0 16px;
        margin:0 2px;
        letter-spacing: 1px;
        font-size: 10px;
        line-height: 16px;
        text-transform: uppercase;
        transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
        color: $dark-gray;
        @media only screen and (min-width: $breakpoint-medium) {
            font-size:12px;
        }
        @media only screen and (min-width: $breakpoint-xlarge) {
            margin: 0 6px;
        }
        @media only screen and (min-width: $breakpoint-xxlarge) {
            margin: 0 10px;
            font-size:14px;
        }
    }
    a::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 3px;
        left: 0;
        height: 3px;
        width: 100%;
        background-color:$blue;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: color 0.1s,transform 0.2s ease-out;
    }
    a:active::before {
        background-color: $blue;
    }
    a:hover::before, a:focus::before {
        transform-origin: left top;
        transform: scale(1, 1);
    }
}
