.page{
    @include box-shadow(1px, 1px, 5px, $light-gray);
    background-color:$white;
    margin-top:65px;
    padding-bottom:40px;
    h2{
        color:$medium-gray;
        font-weight: normal;
    }
    input{
        background-color: $light-white;
        border:none;
        color:$dark-gray;
        padding:10px;
        margin-bottom:1px;
        font-size:14px;
        font-family: 'Open Sans';
    }
    input[name=name]{
        font-weight: 600;        
    }
    input[name=phone]{
       padding:10px 25px 10px 35px
    }
    input[name=address]{
       padding:10px 25px 10px 35px
    }
    input[name=website]{
       padding:10px 25px 10px 35px
    }
    fieldset{
        border:none;
        padding:0;
    }
    .btn-edit-user{
        background-color:$medium-light;
        border-color:$medium-light;
        color:$medium-gray;
        padding:3px 13px 8px;
        margin-left: -4px;
        cursor: pointer;
        &.mobile{
            @media only screen and (min-width: $breakpoint-medium) {
                display:none;
            }
        }
    }
    .ion-edit{
        font-size:22px;
        position: relative;
        top:3px
    }
    .icon-input{
        position:absolute;
        top:5px;
        left:10px;
    }
    .form-group{
        color:$light-gray;
        position:relative;
        font-size:20px;
        max-width:350px;
    }
}
.page-container{
    display:none;
    &.aboutLink{
        display:block;
    }
}