.rating{
    margin-top:-15px;
    color:$blue;
    float:left;
    max-width: 120px;
    @media only screen and (min-width: $breakpoint-medium) {
        margin-top:0;
        color:$medium-gray;
        float:right;
        max-width: 100%;
    }
    .icon{
        font-size:22px;
        position:relative;
        top:3px;
        @media only screen and (min-width: $breakpoint-large) {
            font-size:32px;
            top:5px;
        }
    }
    .number-reviews{
        margin:0 5px;
        display:inline-block;
        @media only screen and (min-width: $breakpoint-medium) {
            margin:0;
            display:inline-block;
        }
        @media only screen and (min-width: $breakpoint-large) {
            margin:0 0;
        }
        @media only screen and (min-width: $breakpoint-xlarge) {
            margin:0 20px;
        }
    }
    span{
        font-size:14px;
    }
}