.form-group{
    &:hover{
        .tooltip{
            display:block;
        }
    }
    .tooltip{
        @include box-shadow(1px, 1px, 21px, $light-gray);
        background:$white;
        min-width:300px;
        max-width:100%;
        min-height:150px;
        position:absolute;
        z-index:10;
        top:-75px;
        left:270px;  
        display:none;
        .arrow-wrapper{
            position:relative;
            .arrow-left {
                width: 0; 
                height: 0; 
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent; 
                border-right:10px solid $white; 
                position: absolute;
                left: -9px;
                bottom: 70px;
            }
        } 
        .group{
            margin-top:30px;
            padding:0 25px;
            input{
                border-bottom:1px solid $light-blue;
                width: 90%;
                background: none;
                padding-left:0;
            }
            label{
                color:$light-gray;
                left:25px;
                text-transform: uppercase;
                display:block;
                margin-top:10px;
                
            }
        }
    }
}
