.user-info{
    min-height:190px;
    h1{
        color:$dark-gray;
        font-size:22px;
        text-align: center;
        @media only screen and (min-width: $breakpoint-medium) {
            text-align: left;
        }
    }
    p{
        color:$dark-gray;
        margin:0;
        span{
            margin-left:5px;
            font-size: 15px;
            position: relative;
            top: -3px;
        }
        .icon{
            font-size:22px;
        }
    }
    img{
        max-width:127px;
        width:100%;
        display:block;
        margin:0 auto;
        position: relative;
        z-index: 10;
        @media only screen and (min-width: $breakpoint-medium) {
            max-width:100%;
        }
    }
}
.user-info-wrapper{
    min-height: 210px;
}
.user-edit-mobile{
    .username{
        font-weight: 600;
    }
}
.user-info-mobile{
    @media only screen and (min-width: $breakpoint-medium) {
        display:none;
    }
}